.main-title-div{   
    width:93%;
    min-width:770px;
    flex-shrink: 0;
    font-size:80px;
    color:antiquewhite;
    text-align: center;
    background-color: red;
    margin:auto;
    box-shadow: 5px 5px 10px black;
}

.cashOnDelivery-div{
    display:grid;
    grid-template-rows: 1fr 1fr;
    position:absolute;
    right: 10px;
    margin-top:15px;
    width: 220px;
background-color: red;
}

.cashOnDelivery-div img{
width:200px;
height:160px;
padding:10px;

}

.main-div {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius:5px;
    margin-top:10px;
    margin-left:50px;
    margin-right:300px;      
}

@media (max-width: 1100px) {
    .main-div {
        grid-template-columns: 1fr;
    }
}

@media ((min-width: 1101px) and (max-width:1500px)) {
    .main-div {
        grid-template-columns: 1fr 1fr;
    }

}

.column1, .column2, .column3{
    margin:5px;
}

.img-div{
    padding:10px;
    background-color: pink;
    border-radius:10px;
    border-style:solid;
    border-width: 2px;
    border-color: rgb(44, 12, 12);
}

.discription-div {
    display:flex;
    flex-direction:column;
    font-size: 22px;
    padding:5px;    
}

.details-div div{

    border-bottom-width: 1px;
    border-bottom-color: rgb(44, 12, 12);
    border-bottom-style:solid;
    
    font-style: arial;
    color:rgb(8, 2, 2); 
    padding-bottom: 5px;
    
}




.item-order-div{
    padding-bottom: 50px;
}

.item-order-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: rgb(207, 50, 136);
    border-radius: 10px;
       
}

.item-order-div div{
    border-bottom-style:none;
    text-align: center;
}

.item-order-div input, .item-order-div select{
    font-size: 16px;
    width: 40px;
}

.deal{
    font-size: 16px;
    color: rgb(14, 19, 9);
    font-weight:bold;
}
.order-checkbox:hover{
    cursor: pointer;
} 
.amount1, .amount2, .amount3{
    width: 30px;

}
.order-summary{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius:10px;
    border-left-color: bisque;
    border-left-width: 2px;
    border-left-style:solid;

    background-color:rgb(10, 10, 10); 
    padding:5px;   
    color:white;
   
    
    align-items: center;
    padding-left:20px;  
    box-shadow: 5px 5px 10px rgb(88, 30, 88); 

    margin-left: 60px;
    margin-right:55px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .order-summary{
        grid-template-columns: 1fr;
        padding-top:10px;
        padding-bottom:10px;
    }
    .deleveryInfo, .continue-button-div{
        padding-top:10px;
        margin-left:20px;
    }
    .totalAmount{
        padding-bottom:15px;
       
    }
}

.continue-button{
    background-color: green;
    font-size:16px;
    width:100px;
    height:40px;
    border-radius:8px;
}
.continue-button:hover{
    background-color: rgb(20, 184, 20);
    box-shadow: 5px 5px 10px rgb(6, 117, 6);
    color:white;
    cursor:pointer;
}


.deleveryInfo, .continue-button-div{
    border-left-color: bisque;
    border-left-width: 4px;
    border-left-style:solid;  
    padding-left: 10px;
}

.deleveryInfo input{
    font-size:18px;
    
}

.order-checkbox1, .order-checkbox2, .order-checkbox3{
    height: 20px;
  width: 20px;
  background-color: #3a7547;
}

.deleveryInfo select{
    font-size:18px;
}


.orderDetails, .totalAmount{
    padding-top: 10px;
    color:white;

}
.payment-list{
    padding-left: 5px;
}